IDI_ICON1               ICON    DISCARDABLE     "icone.ico"

//pour mettre une image sur l'executable du programe => IDI_ICON1               ICON    DISCARDABLE     "chemin du .ico"
//fichier créé a la main sur sublime texte (voir les ajout au .pro sur le .pro)

